@charset "utf-8";
/*
 * 公用样式
 * 
 * */

/*100%背景box*/
.box_content_person{
	background: #f9f7f7 url(../img/person_bj.jpg) no-repeat top center;
	background-size: 100% 500px;
}


/*首页导航固顶阴影*/
.header_shadow_active{
	box-shadow:0px 1px 2px #d2d2d2;
	-moz-box-shadow: 0px 1px 2px #d2d2d2;
	-webkit-box-shadow: 0px 1px 2px #d2d2d2;
}

.header_shadow_none{
	box-shadow: none;
	-webkit-box-shadow: none;
	moz-box-shadow: none;
}

.box_1200{
	width: 1200px;
	margin: 0 auto;
}


.pt-50{
	padding-top: 50px;
}
.pt-100{
	padding-top: 100px;
}
.pb-50{
	padding-bottom: 50px;
}
