@charset "utf-8";
/*
 * 项目名称：悠乐地接 悠乐幇
 * 开发时间：2016.11.27
 * 开发人：344822559@qq.com
 * */
.ulehelp_box-gray{
	background: #fafafa;
}
.box-top-border{
	border-top: 2px solid #3ec1b9;
}
.line_show-header{
	height: 100px;
	background: #3ec1b9;
}
.box_line_show{
	width: 1100px;
	margin: 0 auto;
}
.line_title{
	position: relative;
	padding-right: 200px;
	margin-top: 20px;
}
.line_title p{
	margin: 0px;
}
.line_title .lineshow_price{
	height: 50px;
	right: 0px;
	top: 0px;
	position: absolute;
	text-align: right;
	line-height: 50px;
}
.line_simple_info{
	margin-top: 20px;
	padding-left: 285px;
	min-height: 170px;
	background: #fff;
	position: relative;
	box-shadow: 0px 0px 30px #eee;
	-webkit-box-shadow: 0px 0px 30px #eee;
}
.line_simple_info .line_thumb{
	width: 285px;
	height: 170px;
	background: #ccc;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
.line_simple_info .line_about{
	height: 130px;
	padding:20px;
	position: relative;
}
.line_simple_info .line_about .line_add_order{
	height: 50px;
	padding-right: 200px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #fafafa;
}
.line_simple_info .line_about .line_add_order span{
	font-size: 24px;
	line-height: 50px;
	color: orangered;
}
.line_simple_info .line_about .line_add_order button{
	height: 50px;
	width: 200px;
	background: #EC7357;
	border: 0px;
	margin: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
}
.line_simple_info .line_about .line_add_order button:hover{
	background: #dc5334;
}
.line_simple_info .line_about .line_add_order .send_data{
	position: absolute;
	right: 220px;
	top: 0px;
	line-height: 50px;
	text-align: right;
}

.line_simple_info .line_about .line_description{
	background: url(../img/lineshow_left_fu.png) no-repeat left top;
	padding-left: 30px;
}
.line_simple_info .line_about .line_description .line_right_fu{
	background: url(../img/lineshow_right_fu.png) no-repeat right bottom;
	padding-right: 30px;
	line-height: 24px;
	height: 48px;
	overflow: hidden;
	font-size: 14px;
}
.line_simple_info .line_about .start_city{
	background: url(../img/lineshow-warning.png) no-repeat 30px center;
	line-height: 30px;
	font-size: 14px;
	padding-left: 47px;
	color: #ec7357;
	margin-top: 5px;
}
.line_show_content{
	margin-top: 30px;
	background: #fff;
	box-shadow: 0px 0px 30px #eee;
	-webkit-box-shadow: 0px 0px 30px #eee;
}
