@charset "utf-8";
/*
 * 项目名称：悠乐地接 悠乐幇
 * 开发时间：2016.11.27
 * 开发人：344822559@qq.com
 * */
.box_ulehelp{
	/*box-shadow:0px -5px 3px -2px #36cfc6 inset;*/ 
	background: #3edad1 url(../img/page_header_bj.jpg) no-repeat bottom center;
	padding-top: 85px;
	height: 130px;
}
.box_ulehelp .ask_sub{
	width: 800px;
	height: 45px;
	margin: 0 auto;
}
.box_ulehelp .ask_sub input{
	float: left;
	width: 600px;
	height: 45px;
}
.box_ulehelp .ask_sub button{
	height: 45px;
}


.ulehelp_box-gray{
	background: #fafafa;
	
}


.left_help{
	float: left;
	width: 788px;
	background: blue;
}
.right_help{
	float: right;
	width: 375px;
	background: red;
}
